* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  background: hsl(204, 43%, 93%);
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 100px auto;
}

/*firt box*/

#introduction {
  padding: 30px;
  width: 660px;
  background: white;
  border-radius: 8px 8px 0 0;
}
#introduction h1 {
  margin-bottom: 30px;
  color: hsl(179, 62%, 43%);
}

#introduction h3 {
  margin-bottom: 15px;
  color: hsl(71, 73%, 54%);
}

#introduction p {
  color: hsl(200, 17%, 79%);
}

#container_down {
  display: flex;
  flex-wrap: nowrap;
}

#value,
#services {
  display: inline-block;
  height: 270px;
  width: 330px;
}

/*second box*/

#value {
  background: hsl(179, 62%, 43%);
  border-radius: 0 0 0 8px;
  padding: 35px;
}

.number {
  font-size: 35px;
  font-weight: bold;
}

.name {
  color: hsla(202, 18%, 100%, 0.4);
}

.buttom {
  text-align: center;
  padding: 20px 1px;
  margin-top: 30px;
  border-radius: 6px;
  color: hsl(204, 20%, 100%);
  background: hsl(71, 95%, 44%);
  font-weight: bold;
}

/*third box*/
#services {
  background: hsla(179, 80%, 36%, 0.61);
  border-radius: 0 0 8px 0;
  padding: 30px;
}

#services h2 {
  padding-bottom: 10px;
}

#services ul {
  list-style: none;
  color: hsla(207, 18%, 100%, 0.6);
}

h2,
.number,
p {
  color: white;
  margin-bottom: 10px;
}
