* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Karla', sans-serif;
}

#container {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#introducion {
  border: 1px solid red;
}

#container_down {
  display: flex;
  flex-wrap: nowrap;
}

#value, #services {
 display: inline-block;
 border: 1px solid red;
}
